* {
  margin: 0;
  user-select: none;
  overflow: hidden;
}


.container {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
}

.enterRedeSocial {
  top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: 80vh;
  position: relative;
  z-index: 40;
  margin: 0 auto;
  border-radius: 1.5%;
  background-color: rgb(255, 255, 255);
  padding: 1%;

}

.box-login {
  display: flex;
  justify-content: center;
  width: 41%;
  height: 72vh;
  position: absolute;
  z-index: 50;
  top: 2.5rem;
  left: 4rem;
  border-radius: 1%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.200);
  background-color: rgb(255, 255, 255);
  padding: 1%;
  animation: bottomAnimation ease-in-out 1s;
}

.cardLogin {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10vh;
  position: absolute;
  z-index: 60;
  top: 0;
  line-height: 0.3rem;
  animation: topAnimation ease .9s;
  border-style: solid;
  border-bottom-width: 0.1rem;
  border-right-width: 0rem;
  border-left-width: 0rem;
  border-top-width: 0rem;
}

.h2 {
  display: flex;
  top: 1.9rem;
  margin-bottom: 1%;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 5vh;
  position: absolute;
  z-index: 90;
  font-size: 2.0em;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 0.2px rgba(0, 0, 0, 0.33);
}


.blockquote {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3.8rem;
  z-index: 80;
  width: 100%;
  height: 6rem;
  position: absolute;
  color: rgb(128, 128, 128);
}

.blockquote p {
  text-align: center;
  margin: 2%;
  width: 100%;
  top: 0.1rem;
  padding: 1%;
  height: 5vh;
  font-size: 1.1rem;
  position: absolute;
}

.login {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 65vh;
}

.form-login {
  width: 100%;
  height: 70vh;
  margin-top: 2.6rem;
  display: block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-floating-master {
  margin-top: 4%;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30%;
}

.form-floating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0;
}

.signUp {
  margin: 1% 10%;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp button {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkLogin {
  margin: 1% 10%;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkLogin button {
  width: 60%;

}

.divLogin {
  margin-top: 7%;
  text-align: center;
  height: 20%;

}

.signUp a {
  width: 100%;
  font-size: medium;
  overflow: hidden;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

.divLogin a {
  font-size: medium;
  overflow: hidden;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;

}


.imgCard {
  width: 50%;
  min-height: 60vh;
  position: absolute;
  top: 5rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: mainAnimation ease 1s;

}

.facebook3d {
  width: 100%;
  min-height: 60vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
  opacity: 100%;
  filter: brightness(105%);
}


.footer {
  text-align: end;
  padding: 0%;
  position: fixed;
  width: 100%;
  height: 7vh;
  z-index: 100;
  bottom: 0;
  overflow: hidden;

}

.navbar-toogler {
  margin-left: 20%;
  padding: 1rem;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  animation: bottomAnimation 1s linear;

}

.conceptBy {
  width: 20%;
  height: 10vh;
  justify-content: flex-end;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.535);
  font-size: 1.6rem;
  user-select: none;
  color: #FFF;
  overflow: hidden;

}

.socialBar {
  display: flex;
  text-align: start;
  width: 50%;
  height: 5vh;
  margin-left: 0.1rem;
  overflow: hidden;
}

.linkedin {
  overflow: hidden;
  margin-left: 2%;
}

.github {
  overflow: hidden;
  margin-left: 1%;
}

.fab {
  font-size: 2.2rem;
  width: 2.8rem;
  height: 5vh;
  color: white;
  overflow: hidden;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.508);
}

.imgCard2 {
  visibility: hidden;
}

/* key frames animations */

@keyframes mainAnimation {
  0% {
    transform: translate(30rem, 30rem) rotate(360deg) scale(50%);

  }

  100% {
    transform: translate(0rem, 0rem) rotate(0deg);
  }
}

@keyframes topAnimation {
  0% {
    transform: translate(0rem, -3rem);
  }

  100% {
    transform: translate(0rem, 0rem)
  }
}

@keyframes bottomAnimation {
  0% {
    transform: translate(0rem, 3rem);
  }

  100% {
    transform: translate(0rem, 0rem)
  }
}

/* media queries devices */

@media (max-width: 900px) {
  .body {
    display: flex;

  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    position: absolute;
    margin: 0 auto;


  }

  .imgCard {
    visibility: hidden;

  }

  .facebook3d {
    width: 100%;
    min-height: 5vh;
    height: auto;
    max-height: 30;
    display: block;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: none;


  }

  .footer {
    visibility: hidden;
  }

  .imgCard2 {
    visibility: visible;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: 28vh;
    position: absolute;
    z-index: 100;
    animation: topAnimation ease 2s;

  }


  .enterRedeSocial {
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1100;
    border-radius: 1%;
    background-color: #ffffff00;


  }

  .login {
    top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    position: absolute;
    z-index: 80;

  }

  .box-login {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 95vh;
    position: absolute;
    z-index: 50;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.576);
    animation: bottomAnimation ease-in-out 2s;
  }

  .form-floating-master {
    width: 100%;
    height: 30vh;
    padding: 7% 0%;
    font-size: 0.9rem;
    position: relative;
    z-index: 900;
  }

  .form-floating {
    width: 100%;
    height: 30vh;
    font-size: 0.9rem;
    margin: 0.2% 0%;
    position: absolute;
    z-index: 900;
  }

  .checkLogin button {
    width: 100%;
  }

  .signUp button {
    width: 100%;
  }



  .cardLogin {
    visibility: hidden;
    z-index: 2;
  }
}


@media (min-height: 562px) {
  .imgCard {
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .facebook3d {
    height: 28vh;
    z-index: 5;
  }

  .login {
    top: 8%;
  }
}


@media (max-width: 1024px) {
  .enterRedeSocial {
    top: 2rem;
    width: 90%;
    height: 80vh;
    position: absolute;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-self: center;

  }

}